.filter-popup-bg {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .3s all ease-in;
}

.filter-popup {
    display: block;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0;
    background-color: #202020;
    padding: 52px 20px 20px 20px;
    width: 70%;
    min-width: 310px;
    max-width: 460px;
    transition: .3s all ease-in;
    border-radius: 16px;
}

.filter-popup.active {
    transition: .3s all ease-in;
    opacity: 1;
    z-index: inherit;
    top: 15%;
}

.filter-popup-bg.active {
    transition: .3s all ease-in;
    z-index: 1;
    opacity: 1;
}

.filter-popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: none;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 20px;
    background-color: transparent;
    color: var(--icon);
}

.filter-popup-input-block {
    width: 100%;
}

.filter-popup-input-block svg {
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.filter-popup-input {
    padding: 6px 15px 6px 33px;
    border-radius: 32px;
    background: var(--grey-bg-filter, #2F3030);
    width: 100%;
    border: none;
    color: var(--icon, #BEBEBE);
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.filter-popup-value-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 14px -6px 14px -6px;
    max-height: 250px;
    overflow-y: scroll;
}

.filter-popup-value-item {
    display: flex;
    display: flex;
    padding: 8px 10px;
    margin: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background: var(--bg-color, #0F0F0F);
    cursor: pointer;
    transition: .2s all;
    border: none;
    outline: none;
}

.filter-popup-value-item-img {
    width: 18px;
    height: 18px;
}

.filter-popup-value-item-img img {
    width: 100%;
    height: 100%;
}

.filter-popup-value-item-text,
.filter-popup-value-item-count {
    color: var(--white, #EDEDED);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    transition: .2s all;
}

.filter-popup-value-item-text {
    margin: 0 8px;
}

.filter-popup-actions {
    display: flex;
    align-items: center;
}

.filter-popup-reset {
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 8px;
    border: 1px solid var(--white, #EDEDED);
    background-color: transparent;
    color: var(--white, #EDEDED);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
}

.filter-popup-accept {
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--white, #EDEDED);
    color: var(--bg-color, #0F0F0F);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

.filter-popup-value-item.active {
    background-color: #EDEDED;
    transition: .2s all;
}

.filter-popup-value-item.active .filter-popup-value-item-count{
    color: transparent;
    display: block;
    width: 15px;
    height: 15px;
    background-color: #0F0F0F;
    transition: .2s all;
    border-radius: 100%;
}


.filter-popup-value-item.active .filter-popup-value-item-text {
    color: #0F0F0F;
    transition: .2s all;
}

[data-search]:not([data-search=""]) .filter-popup-value-item:not(.search-result) {
    display: none;
}