.filter-btns-block {
    margin-top: 16px;
}

.filter-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: -5px;
}

.filter-btns-btn {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 35px;
    background: var(--white, #EDEDED);
    border: none;
    cursor: pointer;
    margin: 5px;
}

.filter-btns-btn.archive-btn {
    padding: 10px;
}

.filter-btns-btn p {
    white-space: nowrap;
}