* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "RoadRadioBold";
  src: url("fonts/roadradio_bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  --bg-color: #0F0F0F;
  --icon: #BEBEBE;
  --white: #EDEDED;
  --black-bg-card: #202020;
  --black-stroke-card: #373737;
  --grey-bg-filter: #2F3030;
  --gold: #FCB602;
}

.container {
  padding: 0;
}